<!DOCTYPE html>
<html>
  <head>
    <title>Movies list</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <button><a href='movies'> Movies inventory</a></button>
      <nav>
          <div class='dropdown toggle'>
            <input id='t1' type='checkbox' >
            <label for='t1'>BI Querys </label>
            <ul>
              <li><a method='get' action='/topTenMovies' href='/topTenMovies'>Top Ten Movies </a></li>
              <li><a method='get' action='/topTenUsers' href='/topTenUsers'>Top Ten Users </a></li>
              <li><a method='get' action='/mostActiveUser'href='/mostActiveUser' >Most Active User </a></li>
              <li><a href='#'>Top Ten Movies </a></li>
            </ul>

          </div>
        </nav>
        <div class='querysResults'>

        <h2 id='title'><%= title %></h2>
        <h3><%= status %></h3>
        <br>
        </div>
        <div class='querysResults'>
            <div class='topten'>
          <h1><%= title %></h1>
          <ul>
          <% for( var index in movieslist ){  %>
          <li> Movie title:  <%= movieslist[index].title %>  Corent inventory: <%=movieslist[index].inventory %> </li>
        <% } %>
        </ul>
      </div>
        <div class='topten'>
        <h1><%= status %></h1>
          <ul>
          <% for( var index in userslist ){  %>
            
          <li><%= userslist[index]%></li>
        <% } %>
        </ul>
        </div>
      </div> 
      <section>
    
    <div class='form'>
    <h1>Rent a movie</h1>
    <form id='rentMovie' name='rentmovie' method='post' action='/submitrent'>
      <span>Movie title</span>
      <span>&nbsp;</span>
      <input id='movieTitle' type='text' placeholder='Movie title' name='title'> 
      <br>
      <br>
      <span>Inventory</span>
      <span>&nbsp;</span>
      <input id='titleInventory' type='number' placeholder='0-100'  name='inventory'> 
      <br>
      <br>
      <span>User Email</span>
      <span>&nbsp;</span>
      <input id='userEmail' type='text' placeholder='Valid email' name='email'> 
      <br>
      <br>
      <button id='submitInventory' type='submit' > Sbumit</button>
    </form>
    </div>

    <div class='form'>
    <h1>Return a movie</h1>
    <form id='rentMovie' name='rentmovie' method='post' action='/submitreturn'>
      <span>Movie title</span>
      <span>&nbsp;</span>
      <input id='movieTitle' type='text' placeholder='Movie title' name='title'> 
      <br>
      <br>
      <span>Inventory</span>
      <span>&nbsp;</span>
      <input id='titleInventory' type='number' placeholder='0-100'  name='inventory'> 
      <br>
      <br>
      <span>User Email</span>
      <span>&nbsp;</span>
      <input id='userEmail' type='text' placeholder='Valid email' name='email'> 
      <br>
      <br>
      <button id='submitInventory' type='submit' > Sbumit</button>
    </form>
  </div>

    <div class='form'>
    <h1>Add / Remove a movie to the list</h1>
    <form id='addMovie' name='addmovie' method='post' action='/addmovietodb'>
      <span>Movie title</span>
      <span>&nbsp;</span>
      <input id='movieTitle' type='text' placeholder='Movie title' name='title'> 
      <br>
      <br>
      <span>Inventory</span>
      <span>&nbsp;</span>
      <input id='titleInventory' type='number' placeholder='0-100' name='inventory'> 
      <br>
      <br>
      <button id='submitInventory' type='submit' > Sbumit</button>
    </form>
  </div>
  <br>
  <br>
</section>
  
</main>
  </body>
</html>
